<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/login.css" rel="stylesheet">

  </head>
<body>

  <div class="animated slideInLeft" id="square">    
  <div class="animated bounceInUp" id="leftSquare">
    <div class="animated bounceInUp" id="circle">
    <img class="brand img-responsive" src="shutterstock_image.png" />
    
    </div>
  
 </div>   
    
    <div class="animated bounceInDown" id="rightSquare">
      <div id="container">
      <h1 class="signup">Registrar </h1>
      <form className="animated slideInLeft">               
                  <input class="optin" type="text" placeholder="Nome" />
     <input class="optin" type="text" placeholder="email" /> 
     <input class="optin" type="date" placeholder="Data Nascimento" />  
     <input class="optin" type="number" placeholder="Telefone" /> 
      <input class="optin" type="password" placeholder="senha" /> </form>       
       <button class="animated infinite pulse button btn btn-info">
     <span><i class="" aria-hidden="true"></i></span><span id="twitter">Registrar</span>
   </button>
      <h3 id="footer">Ao continuar você concorda com nossos <span id="terms">termos e condições.</span></h3>
      </div>   
      
 </div> 
    

</div>
      

</body>

</html>